{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block title %}
	Statistiques
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="/libs/chart.js/chart.min.js"></script>
{% endblock %}


{% block body %}
	<main class="w-[95%] m-auto" data-controller="chart">
		<section class="mt-10">
			<div class="flex justify-between">
				<div>
					<form action="" method="get">
						<label for="date1">Mois 1 :</label>
						<input class="ml-2" type="month" name="date1" id="date1">
						<label for="date2">Mois 2 :</label>
						<input class="ml-2" type="month" name="date2" id="date2">
						<input type="submit" value="Comparer" class="text-white bg-[#24A640] hover:bg-[#0d4118] ml-2 p-1.5 rounded">
					</form>

					<details>
						<summary>
							<b>Comparaison par années</b>
						</summary>
						<form action="" method="get">
							<label for="annee1">Année 1 :</label>
							<input type="number" class="ml-2 w-14" max="9999"  step="1" name="annee1" id="annee1" value="2021">
							<label for="annee2">Année 2 :</label>
							<input type="number" class="ml-2 w-14" max="9999" step="1" name="annee2" id="annee2" value="2022">
							<input type="submit" value="Comparer" class="text-white bg-[#24A640] hover:bg-[#0d4118] ml-2 p-1.5 rounded">
						</form>
					</details>
				</div>
				<div></div>
				<div>
					<button id='button' class="text-white bg-[#24A640] hover:bg-[#0d4118] p-1.5 rounded whitespace-nowrap">Statistiques facteurs</button>
					<button class="text-white bg-red-500 hover:bg-red-700 p-1.5 rounded whitespace-nowrap" onclick="window.location = '/accueil'">Retour à l'accueil</button>
				</div>
			</div>
			{% if chartByDate == null and chartByYear == null %}

				<div class="grid grid-cols-4 gap-4  text-gray-600 mt-10 my-10">
					<div class="border-2  border-[#140A82] rounded-lg shadow-md p-5 m-5 hover:shadow-2xl hover:-translate-y-1 transition duration-300 py-8">
						<p id="number" class="text-[#140A82] text-6xl pr-2 font-bold ">{{ nbCourriersImpression }}</p>
						<p class="font-semibold">{{ nbCourriersImpression > 1 ? 'bordereaux ont été générés' : 'bordereau a été généré' }}</p>
					</div>
					<div class="border-2 border-[#140A82] rounded-lg shadow-md p-5 m-5 hover:shadow-2xl hover:-translate-y-1 transition duration-300 py-8">
						<p id="number" class="text-[#140A82] text-6xl pr-2 font-bold">{{ nbCourriersEnvoi }}</p>
						<p class="font-semibold" > {{ nbCourriersImpression > 1 ? 'courriers/colis ont été pris en charges' : 'courrier/coli a été pris en charge' }}</p>
					</div>
					<div class="border-2 border-[#140A82] rounded-lg shadow-md p-5 m-5 hover:shadow-2xl hover:-translate-y-1 transition duration-300 py-8">
						<p id="number" class="text-[#140A82] text-6xl pr-2 font-bold">{{ nbCourriersRecu }} </p>
						<p class="font-semibold">{{ nbCourriersImpression > 1 ? 'courriers/colis ont été distribués' : 'courrier/coli a été distribué' }}</p>
					</div>
					<div class="border-2 border-[#140A82] rounded-lg shadow-md p-5 m-5 hover:shadow-2xl hover:-translate-y-1 transition duration-300 py-8">
						<p id="number" class="text-[#140A82] text-6xl pr-2 font-bold">{{ nbExpediteurs }}</p>
						<p class="font-semibold">nombre d'<a class="text-black underline" href="{{ path('app_expediteur') }}">expéditeurs</a>
						</p>
					</div>
				</div>
			{% elseif chartByDate != null and chartByYear == null %}
			<div class="flex justify-center bg-gray-200 py-10 my-2">
				<div class="w-[60%]">
					{{ render_chart(chartByDate) }}
				</div>
				<div class="flex flex-col justify-center gap-y-10 ml-10">
					<div>
						<p class="text-gray-500">légende :</p>
					</div>
					<div class="bg-[#ffcc40] w-100 h-5 mt-4 pr-1 rounded-r-md">
						<p class="text-[#856a21] text-right mt-5">bordereaux générés</p>
					</div>
					<div class="bg-[#2bded3] w-100 h-5 mt-4 pr-1 rounded-r-md">
						<p class="text-[#14635d] text-right mt-5">courriers/colis pris en charges</p>
					</div>
					<div class="bg-[#1024c8] w-100 h-5 mt-4 pr-1 rounded-r-md">
						<p class="text-[#151c57] text-right mt-5">courriers/colis distribués</p>
					</div>
				</div>
			</div>
			<a href="{{ path('app_statistiques') }}" class="text-red-600">Fermer</a>
			{% else %}
			<div class="flex justify-center bg-gray-200 py-10 my-2">
				<div class="w-[60%]">
					{{ render_chart(chartByYear) }}
				</div>
				<div class="flex flex-col justify-center gap-y-10 ml-10">
					<div>
						<p class="text-gray-500">légende :</p>
					</div>
						{% if year1 != null %}
						<div class="bg-[#ffcc40] w-100 h-5 mt-4 pr-1 rounded-r-md">
								<p class="text-[#856a21] text-right mt-5">nombre de courriers/colis distribués en {{year1}}</p>
							</div>
						{% endif %}
						{% if year2 %}
							<div class="bg-[#2bded3] w-100 h-5 mt-4 pr-1 rounded-r-md">
								<p class="text-[#14635d] text-right mt-5">nombre de courriers/colis distribués en {{year2}}</p>
							</div>
							{% endif %}
						</div>
					</div>
			</div>	
			<a href="{{ path('app_statistiques') }}" class="bg-red-600 text-white p-1">Fermer</a>
			{% endif %}
	</section>
	<section>
		<div class="flex justify-between gap-x-1  ">
			<div class=" border-2  border-[#8682ba] rounded-lg shadow-md ml-5 my-5 p-10 ">
				<p class="text-center m-5 text-xl my-10 font-bold">Statut actuels des courriers</p>
				<div>
					<div class="flex w-[70%] mx-20  ">
						{{ render_chart(chart1) }}
					</div>
					<div class="grid grid-cols-3 justify-between  gap-y-10 m-5">
						
							<div class="bg-[rgb(228,26,28)] w-100 h-5 mt-4 pr-1 rounded-r-md m-5">
								<p class="text-[#140A82] text-right mt-5">en attente</p>
							</div>
							<div class="bg-[rgb(55,126,184)] w-100 h-5 mt-4 pr-1 rounded-r-md m-5">
								<p class="text-[#140A82] text-right mt-5">pris en charge</p>
							</div>
							<div class="bg-[rgb(255,127,0)] w-100 h-5 mt-4 pr-1 rounded-r-md m-5">
								<p class="text-[#140A82] text-right mt-5">avisé</p>
							</div>
							<div class="bg-[rgb(152,78,163)] w-100 h-5 mt-4 pr-1 rounded-r-md m-5">
								<p class="text-[#140A82] text-right mt-5">mis en instance</p>
							</div>
							<div class="bg-[rgb(77,175,74)] w-100 h-5 mt-4 pr-1 rounded-r-md m-5">
								<p class="text-[#140A82] text-right mt-5">distribué</p>
							</div>
							<div class="bg-[rgb(20,10,130)] w-100 h-5 mt-4 pr-1 rounded-r-md m-5">
								<p class="text-[#140A82] text-right mt-5">NPAI</p>
							</div>
						
							<div class="bg-[rgb(197,48,48)] w-100 h-5 mt-4 pr-1 rounded-r-md m-5">
								<p class="text-[#140A82] text-right mt-5">non réclamé</p>
							</div>
						
					</div>
				</div>
			</div>
			<div class="w-[60%] border-2  border-[#8682ba] rounded-lg shadow-md p-10 my-5 mr-5">
				<p class="text-center text-xl my-10 font-bold">Classement des expéditeurs</p>
				{{ render_chart(chart2) }}
			</div>
		</div>
	</section>
	<div id="elementBox" class="flex justify-center fixed bg-[#66666673] w-full h-full left-0 top-0 invisible">
		<div class="mt-[5%]">
			<form method="get">
				<input name="search" class="shadow-md rounded-lg p-2 text-2xl text-center" type="search" placeholder="nom du facteur..." name="facteurSearch">
			</form>
			{% if listeFacteurs|length > 0 %}
				<div id="facteurContent" class="flex flex-col justify-center bg-[#ffffffbe] text-center rounded-b-lg pt-2 -mt-1">
					<div>
						<p class="p-2">Suggestion facteurs :</p>
					</div>
					{% for facteur in listeFacteurs %}
						{% if facteur.statutsCourrier|length > 0 %}
						<div class="text-[#140A82] p-2 ">
							<a class="font-semibold hover:text-[#25BA00] transition-colors duration-300"href="{{ path('app_statistiques', { search: facteur.nom }) }}">{{ facteur.nom }}</a>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			{% else %}
				<div id="facteurContent" class="flex flex-col justify-center bg-[#ffffffbe] text-center rounded-b-lg pt-2 -mt-1">
					<div>
						<p>Aucun facteurs inscrits</p>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</main>{% endblock %}
