{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block title %}Gestion des facteurs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block body %}
<main data-controller="remove" class="w-[95%] m-auto">   
    <h1 class=" mb-4 text-2xl font-semibold text-[#140A82] mt-3">Liste et gestion des facteurs</h1>
    <section class="flex justify-between items-center mb-5">
        <form class="flex w-[50%]" action="" method="get">
                <div class="mb-3 xl:w-50 w-[50%]">
                    
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative flex justify-center">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none left-0">
                                    <img  src="{{asset('build/images/inputsearch.svg')}}" alt="détail" width="25" height="25">
                                </div>
                        
                        <input name="recherche" type="search" class="block w-full p-4 ps-10 text-sm text-gray-900 border font-semibold border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                            placeholder=" {{ recherche ?? "Rechercher par nom" }}"
                            aria-label="" aria-describedby="button-addon2">
                        <button type="submit" class="bg-blue-500 text-white right-0 mt-2 mr-3 absolute end-2.5 bottom-2.5   hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 transition-colors">Search</button>
                    
                    </div> 
                </div>
            </form>
        <div>
            <a class="text-white bg-green-500 hover:bg-green-700 p-2 rounded whitespace-nowrap"
                href="{{ path('app_newFacteur', { isAdding: true, isEdit: false }) }}">Créer un facteur</a>
            <a class="text-white bg-red-500 hover:bg-red-700 p-2 rounded whitespace-nowrap" href="{{ path('app_accueil') }}">Retour</a>
        </div>
    </section>
    <section class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 table-fixed bg-red-500">
            <thead class="text-white uppercase bg-[#140A82]">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Création
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Mise à jour
                    </th>
                    <th scope="col" class=" px-6 py-3">
                        Statut du compte
                    </th>
                    <th >
                        
                    </th>
                    
                    <th>

                    </th>
                    <th>

                    </th>
                    
                </tr>
            </thead>
            <tbody>
                {% for facteur in facteurs %}
                {% if 'ROLE_FACTEUR' or 'ROLE_INACTIF' in facteur.roles %}
                <tr class="bg-white border-b00">
                    <td class="px-6 py-4 break-words">
                        {{facteur.email }}
                    </td>
                    <td class="px-6 py-4 break-words">
                        {{facteur.nom | title }}
                    </td>
                    <td class="px-6 py-4">
                        {{facteur.createdAt|date_modify("+1 hour")|date('d-m-Y H:i') }}
                    </td>
                    <td class="px-6 py-4">
                        {{facteur.updatedAt|date_modify("+1 hour")|date('d-m-Y H:i') }}
                    </td>
                    <td class="px-6 py-4" >
                        <form action="{{ path('app_togglefacteur', {id: facteur.id}) }}" method="post">
                            <label class="switch" >
                                <input type="checkbox" name="toggle" onchange="this.form.submit()" {{ facteur.roles == ["ROLE_FACTEUR"] ? 'checked' : '' }} >
                            <span></span>
                            </label>
                        </form>
                </form>
                    </td>
                    <td class="px-6 py-4" >
                        <a class="text-blue-800 bg-blue-100 p-2 rounded whitespace-nowrap hover:bg-blue-700 hover:text-white"
                            href="{{ path('app_editFacteur', {id: facteur.id, isadding: false, isEdit: false}) }}">
                            Modifier
                        </a>
                    </td>
                    <td class="py-4 whitespace-nowrap">
                        <a class="text-blue-800 bg-blue-100 p-2 rounded whitespace-nowrap hover:bg-blue-700 hover:text-white"
                            href="{{ path('app_editFacteur', {id: facteur.id, isadding: false, isEdit: true}) }}">
                            Modifier le mot de passe
                        </a>
                    </td>
                    {# <td class="px-12 py-4">
                        <button id="showButton" class="text-red-800 bg-red-100 p-2 rounded">Supprimer</button>
                        <div id="confirmBox" class="absolute -ml-36 bg-[#140A82] rounded-lg p-2">
                            <p class="text-white">Êtes-vous sûr de vouloir supprimer ce facteur ? </p>
                            <button id="hideButton"
                                class="bg-red-100 border-2 border-black rounded-lg p-0.5 mx-10 text-red-800">Annuler</button>
                            <a href="{{ path('app_deleteFacteur', {id: facteur.id}) }}"
                                class="bg-red-700 border-2 border-black rounded-lg p-1 mx-4 text-white whitespace-nowrap">Confirmer</a>
                        </div>
                    </td> #}
                    <td class="px-6 py-4">
                        <a class="text-green-800 bg-green-300 p-2 hover:bg-green-700 hover:text-white rounded whitespace-nowrap"
                            href="{{ path('app_statistiques_facteur', {facteur: facteur.nom}) }}">
                            Statistiques
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>
    <div class="flex justify-center m-4">
        {% set multi10 = '1' %}
        {% set letterNb = -1 %}
        {% for i in range(1, nbFacteursTotal|length) %}
        {% set multi10 = multi10 ~ 0 %}
        {% set letterNb = letterNb + 1 %}
        {% endfor %}
        {% set maxPages = (nbFacteursTotal % 10) < 5 and (nbFacteursTotal % 10) !=0 ? (nbFacteursTotal / 10)|round + 1 :
            (nbFacteursTotal / 10)|round %} {% if maxPages> 1 %}
            {% if currentPage != 1 %}
            <a href="{{ path('app_facteur', {currentPage: 1}) }}"
                class="pt-3 text-white bg-[#140A82] rounded-lg px-2 whitespace-nowrap">1</a>
            {% endif %}
            <div class="bg-[#140A82]">{{ knp_pagination_render(facteurs) }} </div>
            {% if currentPage != maxPages %}
            <a href="{{ path('app_facteur', {currentPage: maxPages}) }}"
                class="pt-3 text-white bg-[#140A82] rounded-lg px-2 whitespace-nowrap">{{maxPages}} </a>
            {% endif %}
            {% endif %}
    </div>
    {{ facteurs|length == 0 ? 'Aucun facteurs'}}
</main>
{% endblock %}