{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block body %}

<main  class="w-[95%] m-auto">
    <div class="my-5">
        <h1 class=" mb-4 text-2xl font-semibold text-[#140A82]">Liste des courriers {{ 'ROLE_MAIRIE' in app.user.roles ?
            ' de la mairie'}}</h1>
    </div>
    <div class="flex justify-between space-x-2">
        <div></div>
        <div>
            {% if 'ROLE_GESTION' in app.user.roles %}
            <a class="text-white bg-[#1d71d0] hover:bg-[#042e5e] p-2 rounded whitespace-nowrap"
                href="{{ path('app_expediteur') }}">Gestion expéditeurs</a>
            <a class="text-white bg-[#939a16] hover:bg-[#545804] p-2 rounded whitespace-nowrap"
                href="{{ path('app_facteur') }}">Gestion
                facteurs</a>
            <a class="text-white bg-[#24A640] hover:bg-[#0e551d] p-2 rounded whitespace-nowrap"
                href="{{ path('app_raisonSociale') }}">Gestion raisons sociales</a>
            {% endif %}
            {% if 'ROLE_SUPERADMIN' in app.user.roles %}
            <a class="text-white bg-[#298b7a] hover:bg-[#0c5246] p-2 rounded whitespace-nowrap"
                href="{{ path('app_admin') }}">Gestion
                administrateurs</a>
            {% endif %}
        </div>
    </div>
    {% if isSearching != null ? true : false %}
    <a href="{{ path('app_accueil') }}" class="text-white bg-[#F24E1E] p-2 rounded">Annuler recherche</a>
    {% endif %}
    {% if courriers|length > 0 %}
    <section class="  mt-5">
        <form data-controller="date"  action="" method="get">
            <div class="flex justify-between my-5 xl:w-50 ">
                <div class="my-2 mr-10">
                    <label for="Recherche" class="text-black opacity-50 italic"> Recherche par nom, prenom, client ou nº
                        bordereau</label>
                    <input name="recherche" type="search" class="form-control relative flex-auto min-w-0 px-3 py-1.5 
                        text-base font-normal text-gray-700 bg-white bg-clip-padding border 
                        border-solid border-gray-300 rounded transition ease-in-out m-0 
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        placeholder="{{ recherche ?? "" }}" aria-label="" aria-describedby="button-addon2">
                </div>
                <div class="ml-10">
                    <label for="date" class="text-[#3f3b66]">Minimum</label>
                    <input id="DateMin" type="date" class="px-4" name="dateMin">
                    <label for="date" class="text-[#140A82]">Maximum</label>
                    <input id="DateMax" type="date" class="px-4" name="dateMax" min="2024-01-03">
                    <input type="submit"
                        class="text-white bg-[#140A82] hover:bg-[#010a14] p-1 px-2 rounded my-1 cursor-pointer"
                        value="Rechercher">
                    <div class="flex ">
                        <div class="flex items-center ">
                            <p class="text-center mr-10">Exporter la selection :</p>
                        </div>
                        
                            <a class="border-2 border-green-700 text-black  hover:bg-green-700 hover:text-white p-2 rounded mr-5 transition-colors"
                            href="{{ path('app_export', {type: 'Csv', order: order == 'ASC' ? 'DESC' : 'ASC', recherche: recherche, dateMin: dateMin, dateMax: dateMax}) }}">
                            .csv
                        </a>
                        <a class="border-2 border-green-700 text-black  hover:bg-green-700 hover:text-white p-2 rounded mr-5 transition-colors"
                            href="{{ path('app_export', {type: 'Xls', order: order == 'ASC' ? 'DESC' : 'ASC', recherche: recherche, dateMin: dateMin, dateMax: dateMax}) }}">
                            .xlsx
                        </a>
                        
                    </div>
                </div>
            </div>
        </form>
    </section>
    <section class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 table-fixed">
            <thead class="text-white uppercase bg-[#140A82]">
                <tr class="align-text-bottom">
                    <th scope="col" class="px-6 py-3">
                        {% if isSearching %} Date {% else %} <a href="{{ path('app_accueil', {order: order} ) }}">Date
                            <span class="text-2xl sticky ml-2"> {{ order == "ASC" ? '&uarr;' : '&darr;'}} {% endif %}
                            </span> </a>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Expediteur
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Bordereau
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Prénom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Adresse
                    </th>
                    <th scope="col" class="px-6 py-3">
                        CP
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Ville
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Statut
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for courrier in courriers %}
                <tr class="bg-white border-b00">
                    <td class="px-6 py-4">
                        {{courrier.date|date_modify("+1 hour")|date('d-m-Y') }}
                        </br>
                        {{courrier.date|date_modify("+1 hour")|date('H-i') }}
                    </td>
                    <td class="px-6 py-4 capitalize">
                        <div class="flex">
                            {{ 'ROLE_MAIRIE' in app.user.roles ? (courrier.nomExpediteur ?? 'non définie') :
                            (courrier.raison ?? 'non définie') }}
                            {% if courrier.expediteur is not null %}
                                <a class="text-xs  rounded-md text-white ml-5"
                                href="{{ path('app_detailsExpediteur', {expediteurId: courrier.expediteur, recherche: recherche ?? null, redirectTo: 'app_accueil'}) }}">
                                <img  src="{{asset('build/images/search.svg')}}" alt="détail" width="15" height="15">
                            </a>
                            {% endif %}
                        </div>
                        
                        
                    </td>
                    <td class="px-6 py-4 ">
                        {{courrier.bordereau}}
                    </td>
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 ">
                        <span class="bg-[#140A82] text-white rounded-md px-4 py-1">{{courrier.type == "0" ? "LS" }} {{courrier.type == "1" ? "LRAR" }} {{courrier.type == "2" ? "Colis" }}</span>
                    </td>
                    <td class="px-6 py-4">
                        {{ courrier.nom | title}}
                    </td>
                    <td class="px-6 py-4">
                        {{ (courrier.prenom ? courrier.prenom : "Non defini") | title }}
                    </td>
                    <td class="px-6 py-4">
                        {{courrier.adresse | title }}
                    </td>
                    <td class="px-6 py-4">
                        {{courrier.codePostal}}
                    </td>
                    <td class="px-6 py-4">
                        {{courrier.ville | title }}
                    </td>
                    <td class=" py-4">
                        <div class="flex">
                            {% for statut in statuts %}
                                {% if courrier.statut == statut.statutCode %}
                                    {% set styleClass=''%}
                                    {% if statut.statutCode == 1 %}
                                        {% set styleClass = ' bg-[rgb(228,26,28)]' %}
                                    {% elseif statut.statutCode == 2 %}
                                        {% set styleClass = ' bg-[rgb(55,126,184)]' %}
                                    {% elseif statut.statutCode == 3 %}
                                        {% set styleClass = ' bg-[rgb(77,175,74)]' %}
                                    {% elseif statut.statutCode == 4 %}
                                        {% set styleClass = ' bg-[rgb(152,78,163)]' %}
                                    {% elseif statut.statutCode == 5 %}
                                        {% set styleClass = 'bg-[rgb(255,127,0)]' %}
                                    {% elseif statut.statutCode == 6 %}
                                        {% set styleClass = ' bg-[rgb(255,245,51)]' %}
                                    {% elseif statut.statutCode == 7 %}
                                        {% set styleClass = ' bg-red-700' %}
                                    {% elseif statut.statutCode == 8 %}
                                        {% set styleClass ='bg-red-700' %}
                                    {% endif %}
        
                                    <span class="flex {{ styleClass }} text-white rounded-md font-semibold text-xs py-1 px-1">
                                        {{ statut.etat|title }}
                                    </span>
                                    <a class="text-xs px-2  rounded-md text-white whitespace-nowrap"
                                        href="{{ path('app_suiviId', {id: courrier.courrier, courrierId: courrier.courrier, recherche: recherche ?? null}) }}">
                                        <img class="" src="{{asset('build/images/recherche.svg')}}" alt="détail" width="20" height="20">
                                        </a>
                                {% endif %}
                            {% endfor %} 
                            </div>
                            </br>
                            {{ courrier.procuration ? "/ procuration" }}
                        </span>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <div class=" text-sm mt-5">
        <p>*LRAR = Lettre avec accusé de reception</p>
        <p>*LS = Lettre avec suivi</p>
    </div>
    <div class="flex justify-center m-4">
        {% set multi10 = '1' %}
        {% set letterNb = -1 %}
        {% for i in range(1, nbCourriersTotal|length) %}
        {% set multi10 = multi10 ~ 0 %}
        {% set letterNb = letterNb + 1 %}
        {% endfor %}
        {% set maxPages = (nbCourriersTotal % 10) < 5 and (nbCourriersTotal % 10) !=0 ? (nbCourriersTotal / 10)|round +
            1 : (nbCourriersTotal / 10)|round %} {% if maxPages> 1 %}
            {% if currentPage != 1 %}
            <a href="{{ path('app_accueil', {currentPage: 1, recherche: recherche ?? null, dateMin: dateMin ?? null, dateMax: dateMax ?? null, order: order == 'ASC' ? 'DESC' : 'ASC'}) }}"
                class="pt-3 text-white bg-[#140A82] rounded-lg px-2 whitespace-nowrap">1</a>
            {% endif %}
            <div class="bg-[#140A82]">
                {{ knp_pagination_render(courriers) }}
            </div>
            {% if currentPage != maxPages %}
            <a href="{{ path('app_accueil', {currentPage: maxPages, recherche: recherche ?? null, dateMin: dateMin ?? null, dateMax: dateMax ?? null, order: order == 'ASC' ? 'DESC' : 'ASC'}) }}"
                class="pt-3 text-white bg-[#140A82] rounded-lg px-2 whitespace-nowrap">{{maxPages}} </a>
            {% endif %}
            {% endif %}
    </div>
    {% else %}
    <div class="mt-5">
        <p>Aucun courriers</p>
    </div>
    {% endif %}
</main>
{% endblock %}