{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block body %}

<main class="w-[95%] m-auto">
    <h1 class=" mb-4 text-2xl font-semibold text-[#140A82]">Liste et gestion des courriers</h1>
    <section class="flex justify-between items-center">
        <form class="flex " action="" method="get">
            <div class="mb-3 xl:w-50">
                <div class=" input-group relative flex flex-wrap items-stretch w-full mb-4 ">
                    <label for="Recherche" class="text-black opacity-50 italic"> Recherche par nom, prenom ou nº
                        bordereau</label>
                    <input name="recherche" type="search" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 
                        text-base font-normal text-gray-700 bg-white bg-clip-padding border 
                        border-solid border-gray-300 rounded transition ease-in-out m-0 
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder=""
                        aria-label="" aria-describedby="button-addon2">
                </div>
            </div>
        </form>
        <div class="flex space-x-2">
            <a class="text-white bg-[#1d71d0] hover:bg-[#042e5e] p-2 rounded" href="{{ path('app_expediteur') }}">Gestion
                expéditeurs</a>
            <a class="text-white bg-[#939a16] hover:bg-[#545804] p-2 rounded" href="{{ path('app_facteur') }}">Gestion
                facteurs</a>
            <a class="text-white bg-[#24A640] hover:bg-[#0e551d] p-2 rounded" href="{{ path('app_raisonSociale') }}">Gestion raisons
                sociales</a>
            {% if 'ROLE_SUPERADMIN' in app.user.roles  %}
            <a class="text-white bg-[#298b7a] hover:bg-[#0c5246] p-2 rounded" href="{{ path('app_admin') }}">Gestion
                administrateurs</a>
            {% endif %}
        </div>
    </section>
    {% if courriers|length > 0 %}
    <section class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 table-fixed">
            <thead class="text-xs text-white uppercase bg-[#140A82]">
                <tr class="align-text-bottom">
                    <th scope="col" class="px-6 py-3">
                        {% if isSearching %} Date {% else %} <a href="{{ path('app_accueil', {order: order} ) }}">Date
                           <span class="text-2xl sticky ml-2"> {{ order == "ASC" ? '&uarr;' : '&darr;'}} {% endif %} </span> </a>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Expediteur
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Statut
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Bordereau
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Prénom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Adresse
                    </th>
                    <th scope="col" class="px-6 py-3">
                        CP
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Ville
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for courrier in courriers %}
                <tr class="bg-white border-b00">
                    <td class="px-6 py-4">
                        {{courrier.date | date('d-m-Y H:i') }}
                    </td>
                    <td class="px-6 py-4">
                        {{ courrier.nomExpediteur }}
                        <hr class="border-y-2 my-2 border-blue-300">
                        <a class="text-xs bg-blue-900 py-1 px-2 rounded-md text-white" href="{{ path('app_detailsExpediteur', {expediteurId: courrier.expediteur}) }}">
                            détails
                        </a>
                    </td>
                    <td class="px-6 py-4">
                        {% for statut in statuts %}
                            {{ courrier.statut == statut.id ? statut.etat : NULL }}
                        {% endfor %}
                        <hr class="border-y-2 my-2 border-blue-300">
                        <a class="text-xs bg-blue-900 py-1 px-2 rounded-md text-white" href="{{ path('app_suiviId', {id: courrier.courrier}) }}">
                            détails
                        </a>
                    </td>
                    <td class="px-6 py-4">
                        {{courrier.bordereau}}
                    </td>
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900itespace-nowrap">
                        {{courrier.type == "0" ? "Lettre avec suivi" }} {{courrier.type == "1" ? "Lettre avec accusé de
                        reception" }} {{courrier.type == "2" ? "Colis" }}
                    </td>
                    <td class="px-6 py-4">
                        {{courrier.nom}}
                    </td>
                    <td class="px-6 py-4">
                        {{courrier.prenom ? courrier.prenom : "Non defini"}}
                    </td>
                    <td class="px-6 py-4">
                        {{courrier.adresse}}
                    </td>
                    <td class="px-6 py-4">
                        {{courrier.codePostal}}
                    </td>
                    <td class="px-6 py-4">
                        {{courrier.ville}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <div class="flex justify-center m-4">
        {% set multi10 = '1' %}
        {% set letterNb = -1 %}
        {% for i in range(1, nbCourriersTotal|length) %}
            {% set multi10 = multi10 ~ 0 %}
            {% set letterNb = letterNb + 1 %}
        {% endfor %}
        {% set maxPages = (nbCourriersTotal % 10) < 5 and (nbCourriersTotal % 10) != 0 ? (nbCourriersTotal / 10)|round + 1 : (nbCourriersTotal / 10)|round %}
        {% if maxPages > 1 %}
            {% if currentPage != 1 %}
                <a href="{{ path('app_accueil', {currentPage: 1, order: order == 'ASC' ? 'DESC' : 'ASC'}) }}" class="pt-3 text-white bg-[#140A82] rounded-lg px-2">1</a>
            {% endif %}
            <div class="bg-[#140A82]">{{ knp_pagination_render(courriers) }} </div>
            {% if currentPage != maxPages %}
                <a href="{{ path('app_accueil', {currentPage: maxPages, order: order == 'ASC' ? 'DESC' : 'ASC'}) }}" class="pt-3 text-white bg-[#140A82] rounded-lg px-2">{{maxPages}} </a>
            {% endif %}
        {% endif %}
    </div>
        {% else %}
            <p>Aucun courriers</p>
        {% endif %}
</main>
{% endblock %}