{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block body %}
<main class="w-[95%] m-auto">
    <h1 class=" mt-4 text-xl font-semibold text-[#140A82]">Détails de l'expéditeur {% if 'ROLE_DELETED' in expediteur.roles %}(<span class="text-red-600">supprimé</span>){% endif %}{% if 'ROLE_INACTIF' in expediteur.roles %}(<span class="text-orange-600">en attente d'activation</span>){% endif %}</h1>
    <div class="flex justify-between">
        <div></div>
        <div>
            <a class="text-white bg-[#140A82] p-2 rounded whitespace-nowrap hover:bg-blue-700 hover:text-white" 
                href="{{ path('app_editExpediteur', {id: expediteur.id}) }}">Modifier</a>
            <a class="text-white bg-[#F24E1E] p-2 rounded whitespace-nowrap hover:bg-red-700"
                href="{{ path(redirectTo, {recherche: recherche ?? null, dateMin: dateMin ?? null, dateMax: dateMax ?? null}) }}">Retour</a>
        </div>
    </div>
    <div class="flex-col gap-y-32 mt-10">
        <div class="flex justify-center gap-x-10">
            <p class="text-gray-600">Email : <span class="text-[#140A82]">{{ expediteur.email }}</span></p>

            <p class="text-gray-600">Prénom / Service : <span class="text-[#140A82]">{{ (expediteur.prenom ?? 'non
                    défini') | title }} </span></p>

            <p class="text-gray-600">Nom / Nom de l'entreprise : <span class="text-[#140A82]">{{ expediteur.nom | title }}</span>
            </p>

            <p class="text-gray-600">Raison Sociale : <span class="text-[#140A82]">{{ (expediteur.client.raisonSociale ??
                    'non définie') | title }}</span></p>
        </div>
        <div class="flex justify-center gap-x-10">
            <p class="text-gray-600">Adresse : <span class="text-[#140A82]">{{ expediteur.adresse | title }}</span></p>

            <p class="text-gray-600">Complément d'adresse : <span class="text-[#140A82]">{{ (expediteur.complement ??
                    'non défini') | title }}</span></p>

            <p class="text-gray-600">Code Postal : <span class="text-[#140A82]">{{ expediteur.codePostal }}</span></p>

            <p class="text-gray-600">Ville : <span class="text-[#140A82]">{{ expediteur.ville | title }}</span></p>
        </div>
        <div class="flex flex-col gap-x-10 items-center">
            <p class="text-gray-600">Téléphone : <span class="text-[#140A82]">{{ expediteur.telephone }}</span></p>
            {% if 'ROLE_DELETED' in expediteur.roles and 'ROLE_SUPERADMIN' in app.user.roles %}<a href="{{ path('app_deleteExpediteur', {id: expediteur.id, mode: 'def'}) }}" class="text-red-600 text-xs mt-5">supprimer cet expéditeur définitivement</a>{% endif %}
        </div>
        <hr class="border-y-1 my-10 border-gray-400">
        <div>
            <h2 class="text-xl font-semibold border-y-1 my-10 border-gray-400 text-[#140A82]">Contacts enregistrés par
                {{ expediteur.nom | title }} {{ expediteur.prenom | title }} ({{ (expediteur.client.raisonSociale ?? 'non définie') | title }}) :</h2>
            {% for destinataire in expediteur.destinataires %}
            <div class="flex items-center m-4 shadow-lg rounded-lg px-2">
                <svg class="w-5" xmlns="http://www.w3.org/2000/svg" width="43.36" height="43.36"
                    viewBox="0 0 43.36 43.36">
                    <g id="Calque_2" data-name="Calque 2">
                        <g id="Calque_1-2" data-name="Calque 1">
                            <g id="FlecheDCercle">
                                <g id="FlecheG4">
                                    <path id="Tracé_519" data-name="Tracé 519"
                                        d="M17.13,6.86a1.59,1.59,0,0,1,1.16.48L31.45,20.49a1.67,1.67,0,0,1,0,2.33L18.29,36a1.65,1.65,0,1,1-2.42-2.23l.1-.09,12-12-12-12a1.66,1.66,0,0,1,0-2.32A1.61,1.61,0,0,1,17.13,6.86Z"
                                        style="fill: #140a82" />
                                </g>
                                <path id="Tracé_1162" data-name="Tracé 1162"
                                    d="M21.68,0A21.68,21.68,0,1,1,0,21.68,21.68,21.68,0,0,1,21.68,0Zm0,39.69a18,18,0,1,0-18-18h0A18,18,0,0,0,21.68,39.69Z"
                                    style="fill: #140a82" />
                            </g>
                        </g>
                    </g>
                </svg>
                <p class="px-4">{{ destinataire.nom | title }} {{ destinataire.prenom | title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}