{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block title %}Liste des expéditeurs{% endblock %}
{% block body %}



<main data-controller="remove" class="w-[95%] m-auto">
    <h1 class="mt-4 text-2xl font-semibold text-[#140A82]">Liste et gestion des expéditeurs</h1>
    <h1 style="font-size: 20pt;padding-bottom: 2%;"><b></b></h1>
    {% if isSearch != null ? false : true %}
    {% if expediteursInactifs|length > 0 %}

    <div class="bg-blue-900 rounded-xl">
        <p class="p-2 text-white">Des expéditeurs sont enregistrés mais ne sont pas encore actifs.</p>
        <p class="p-2 text-white -mt-4">La modification de la raison sociale sera demandée lors de l'activation.</p>
        <details {% if openDetails %} open="" {% endif %}
            onclick="(openDetails) => {openDetails = true ? false : true}">
            <summary onclick="verifyAndRemoveBanner()"
                class="mx-20 my-2 p-1 text-white list-none hover:cursor-pointer rounded max-w-fit border-red-700 border-2 text-center">
                Voir les expéditeurs inactifs</summary>
            <section id="inactifSection" class="overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 table-fixed">
                    <thead class="text-white uppercase bg-[#140A82]">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Raison sociale
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Email
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Nom / Entreprise
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Prenom / Service
                            </th>
                            <th scope="col" class="px-6 py-3">

                            </th>
                            <th scope="col" class="px-6 py-3">

                            </th>
                            <th scope="col" class="px-6 py-3">

                            </th>
                            <th>
                                Crée le
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expediteur in expediteursInactifs %}
                        <tr class="bg-white border-b ">
                            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap break-words">
                                {{ expediteur.raisonSociale ? expediteur.raisonSociale : 'Non défini' }}
                            </td>
                            <td class="px-6 py-4 break-words">
                                <a
                                    href="{{ path('app_detailsExpediteur', {expediteurId:expediteur.id, redirectTo:'app_expediteur'}) }}">{{
                                    expediteur.email }}</a>
                            </td>
                            <td class="px-6 py-4 break-words">
                                {{ expediteur.nom }}
                            </td>
                            <td class="px-6 py-4">
                                {{ expediteur.prenom }}
                            </td>
                            <td class="px-6 py-4">
                                <a class="text-blue-800 bg-blue-100 p-2 rounded whitespace-nowrap"
                                    href="{{ path('app_editExpediteur', {id: expediteur.id}) }}">
                                    Modifier
                                </a>
                            </td>
                            <td class="px-6 py-4">
                                <a href="{{ path('app_deleteExpediteur', {id: expediteur.id, mode: 'def'}) }}"
                                    class="text-red-800 bg-red-100 p-2 rounded whitespace-nowrap">Supprimer</a>
                            </td>
                            <td class="px-6 py-4">
                                {% if expediteur.pswLength > 1 %}
                                <a href="{{ path('app_activateExpediteur', {expediteurId: expediteur.id}) }}" class="text-blue-800 bg-blue-100 p-2 rounded">Activer</a>
                                {% else %}
                                <a class="text-gray-100 bg-gray-200 p-2 rounded hover:cursor-no-drop whitespace-nowrap">Activer</a>
                                {% endif %}
                            </td>
                            <td class="py-4 break-words">
                                {{expediteur.createdAt|date_modify("+1 hour")|date('d-m-Y H:i') }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>

        </details>
    </div>
    {% endif %}
    {% endif %}
    {% if isSearch != null ? true : false %}
    <a href="{{ path('app_expediteur') }}" class="text-white bg-[#F24E1E] p-2 rounded whitespace-nowrap">Annuler
        recherche</a>
    {% endif %}
    <section class="flex justify-between items-center m-2">
        
            <form class="flex w-[50%]">
                <div class="mb-3 xl:w-50 w-[50%]">
                    
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative flex justify-center">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none left-0 ml-2 ">
                                    <img  src="{{asset('build/images/inputsearch.svg')}}" alt="détail" width="25" height="25">
                                </div>
                        
                        <input name="recherche" type="search" class="block w-full p-4 ps-10 text-sm text-gray-900 border font-semibold border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Rechercher par nom ou prénom"
                            aria-label="" aria-describedby="button-addon2">
                        <button type="submit" class="bg-blue-500 text-white right-0 mt-2 mr-3 absolute end-2.5 bottom-2.5   hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 transition-colors">Search</button>
                    
                    </div>
                    <label style="padding-right: 2%;" for="checkbox">recherche exacte</label>
                    <input type="checkbox" name="checkBoxExact" id="checkbox">
                </div>
            </form>
        
        <div>
            <a class="text-white bg-green-500 hover:bg-green-700 p-2 rounded"
                href="{{ path('app_addExpediteur') }}">Ajouter</a>
            {# {% if expediteursToRemove|length > 0 %}
            <a data-controller="expediteur" id="expediteurButton"
                class="text-white bg-yellow-500 hover:bg-yellow-700 p-2 rounded cursor-pointer">Suppression multiple</a>
            <div class="fixed flex flex-col gap-y-2 bg-[#140A82] text-white rounded-lg p-3 m-1 shadow-xl invisible"
                id="elementBox">
                <div>
                    <p>Les expéditeurs suivants vont être supprimés</p>
                    {% for expediteur in expediteursToRemove %}
                    <p>- {{ expediteur }}</p>
                    {% endfor %}
                </div>
                <div class="mx-auto">
                    <a class="text-white bg-red-500 hover:bg-red-700 p-2 rounded"
                        href="{{ path('app_deleteMultipleExpediteur') }}">Confirmer</a>
                </div>
            </div>
            {% endif %} #}
            <a class="text-white bg-red-500 hover:bg-red-700 p-2 rounded whitespace-nowrap"
                href="{{ path('app_accueil') }}">Retour</a>
        </div>
    </section>
    <section class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 table-fixed">
            <thead class="text-white uppercase bg-[#140A82]">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Raison client
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nom / Entreprise
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Prenom / Service
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Création
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Mise à jour
                    </th>
                    <th scope="col" class="px-6 py-3">

                    </th>
                    <th scope="col" class="px-6 py-3">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for expediteur in expediteurs %}
                {% set role = 'ROLE_DELETED' in expediteur.roles or 'ROLE_INACTIF' in expediteur.roles ? 'inactif' :
                'actif' %}
                {% if role == 'actif' %}
                <tr class="bg-white border-b">
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 break-words">
                        {% if isSearch == true %}
                        {% if checkBoxExact == false %}
                        {{ expediteur.raisonSociale ? expediteur.raisonSociale | title : 'Non défini' }}
                        {% else %}
                        {{ expediteur.client ? expediteur.client.raisonSociale | title : 'Non défini' }}
                        {% endif %}
                        {% else %}
                        {{ expediteur.client ? expediteur.client.raisonSociale | title : 'Non défini' }}
                        {% endif %}
                    </td>
                    <td class="px-6 py-4 break-words">
                        <a
                            href="{{ path('app_detailsExpediteur', {expediteurId:expediteur.id, redirectTo:'app_expediteur'}) }}">{{
                            expediteur.email }}</a>
                    </td>
                    <td class="px-6 py-4 break-words">
                        {{ expediteur.nom | title }}
                    </td>
                    <td class="px-6 py-4 break-words">
                        {{ expediteur.prenom | title }}
                    </td>
                    <td class="px-6 py-4 break-words">
                        {{expediteur.createdAt|date_modify("+1 hour")|date('d-m-Y H:i') }}
                    </td>
                    <td class="px-6 py-4 break-words">
                        {{expediteur.updatedAt|date_modify("+1 hour")|date('d-m-Y H:i') }}
                    <td class="px-6 py-4 break-words">
                        <a class="text-blue-800 bg-blue-100 p-2 rounded hover:text-white hover:bg-blue-700 transition-colors duration-300"
                            href="{{ path('app_editExpediteur', {id: expediteur.id}) }}">
                            Modifier
                        </a>
                    </td>
                    <td class="px-6 py-4 break-words">
                        <button id="showButton" class="text-red-800 bg-red-100 p-2 rounded hover:text-white hover:bg-red-700 transition-colors duration-300">Supprimer</button>
                        <div id="confirmBox" class="absolute -ml-40 bg-[#140A82] rounded-lg p-2">
                            <p class="text-white">Êtes-vous sûr de vouloir supprimer cet expéditeur ? </p>
                            <button id="hideButton"
                                class="bg-red-100 border-2 border-black rounded-lg p-0.5 mx-12 text-red-800">Annuler</button>
                            <a href="{{ path('app_deleteExpediteur', {id: expediteur.id, mode: 'temp'}) }}"
                                class="bg-red-700 border-2 border-black rounded-lg p-1 mx-4 text-white whitespace-nowrap">Confirmer</a>
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

            </tbody>
        </table>
    </section>
    <div class="flex justify-center m-4">
        {% set multi10 = '1' %}
        {% set letterNb = -1 %}
        {% for i in range(1, nbExpediteursTotal|length) %}
        {% set multi10 = multi10 ~ 0 %}
        {% set letterNb = letterNb + 1 %}
        {% endfor %}
        {% set maxPages = (nbExpediteursTotal % 10) < 5 and (nbExpediteursTotal % 10) !=0 ? (nbExpediteursTotal /
            10)|round + 1 : (nbExpediteursTotal / 10)|round %} {% if maxPages> 1 %}
            {% if currentPage != 1 %}
            <a href="{{ path('app_expediteur', {currentPage: 1}) }}"
                class="pt-3 text-white bg-[#140A82] rounded-lg px-2">1</a>
            {% endif %}
            <div class="bg-[#140A82]">{{ knp_pagination_render(expediteurs) }} </div>
            {% if currentPage != maxPages %}
            <a href="{{ path('app_expediteur', {currentPage: maxPages}) }}"
                class="pt-3 text-white bg-[#140A82] rounded-lg px-2">{{maxPages}} </a>
            {% endif %}
            {% endif %}
    </div>
    <p>{{ expediteurs|length == 0 ? 'Aucun expéditeurs'}}</p>
</main>
{% endblock %}