{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block title %}Raisons Sociales{% endblock %}

{% block body %}
<main class="w-[95%] m-auto">
    <h1 class=" mb-4 text-xl font-semibold text-[#140A82]">Ajouter un expéditeur</h1>
    <div class="flex justify-between items-center">
        <div></div>
        <div class="my-5">
            <a class="text-white bg-[#F24E1E] p-2 rounded" href="{{ path('app_clientsRaisonSociale', {raisonId: raisonId}) }}">Retour</a>
        </div>
    </div>

    {% if clients|length == 0 %}

    <p>Il n'y a pas d'expéditeurs éligibles pour être ajouté</p>

    {% else %}
    
    <section class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 table-fixed">
            <thead class="text-white uppercase bg-[#140A82]">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th>
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for expediteur in clients %}
                <tr class="bg-white border-b ">
                    <td class="px-6 py-4">
                        {{ expediteur.nom|title }}
                    </td>
                    <td class="px-6 py-4">
                        {{ expediteur.email }}
                    </td>
                    <td class="px-6 py-4">
                        <a class="text-blue-800 bg-blue-100 p-2 rounded"
                            href="{{ path('app_addTheClientRaisonSociale',{expediteurId : expediteur.id, raisonId: raisonId}) }}">
                            Ajouter
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    {% endif %}
    
</main>
{% endblock %}