{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block title %}Raisons Sociales{% endblock %}

{% block body %}
<main class="w-[95%] m-auto">
    <h1 class=" mb-4 text-xl font-semibold text-[#140A82]">Clients de {{ raison.raisonSociale }}</h1>
    <div class="flex justify-between items-center">
        <div></div>
        <div class="my-5">
        <a class="text-white bg-green-500 hover:bg-green-700 p-2 rounded"
            href="{{ path('app_addClientRaisonSociale', {raisonId: raison.id}) }}">Ajouter un
            expéditeur</a>
        <a class="text-white bg-red-500 hover:bg-red-700 p-2 rounded" href="{{ path('app_raisonSociale') }}">Retour</a>
        </div>
    </div>
    {% if clients|length == 0 %}
        <p>Aucun expéditeurs n'est associé à cette raison sociale</p>
    {% else %}
    <section class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 table-fixed">
            <thead class="text-xs text-white uppercase bg-[#140A82]">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th>
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Supprimer
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for expediteur in clients %}
                <tr class="bg-white border-b ">
                    <td class="px-6 py-4">
                        {{ expediteur.nom }}
                    </td>
                    <td class="px-6 py-4">
                        {{ expediteur.email }}
                    </td>
                    <td class="px-6 py-4">
                        <a class="text-blue-800 bg-blue-100 p-2 rounded"
                            href="{{ path('app_deleteClientRaisonSociale',{expediteurId : expediteur.id, raisonId: expediteur.client.id}) }}">
                            détacher cet expéditeur
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endif %}
</main>
{% endblock %}