{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block title %}Raisons Sociales{% endblock %}

{% block body %}
<main data-controller="remove" class="w-[95%] m-auto">
    <h1 class=" mb-4 text-2xl font-semibold text-[#140A82]">Liste des raisons sociales</h1>
    <div class="flex justify-between items-center">
        <div></div>
        <div class="my-5">
            <a class="text-white bg-green-500 hover:bg-green-700 p-2 rounded" href="{{ path('app_addRaisonSociale') }}">Créer une raison sociale</a>
            <a class="text-white bg-red-500 hover:bg-red-700 p-2 rounded" href="{{ path('app_accueil') }}">Retour</a>
        </div>
    </div>
    <section class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 table-fixed">
            <thead class="text-xs text-white uppercase bg-[#140A82]">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th scope="col" class="px-2 py-3">
                        No. Expéditeurs associés
                    </th>
                    <th scope="col" class="px-3 py-3">
                        
                    </th>
                    <th scope="col" class="px-3 py-3">
                        
                    </th>
                    <th scope="col" class="px-3 py-3">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for raison in raisonsSociales %}
                <tr class="bg-white border-b ">
                    <td class="px-6 py-4">
                        {{ raison.raisonSociale }}
                    </td>
                    <td class="px-2 py-4 pl-20">
                        <b>{{ raison.expediteurs|length }}</b>
                    </td>
                    <td class="px-2 py-4">
                        <a class="text-blue-800 bg-blue-100 p-2 rounded"
                            href="{{ path('app_editRaisonSociale',{raisonId : raison.id}) }}">
                            Modifier
                        </a>
                    </td>
                    <td class="px-2 py-4">
                        <button id="showButton" class="text-red-800 bg-red-100 p-2 rounded">Supprimer</button>
                        <div id="confirmBox" class="fixed -ml-36 bg-[#140A82] rounded-lg p-2">
                            <p class="text-white">Êtes-vous sûr de vouloir supprimer cette raison sociale ? </p>
                            <button id="hideButton" class="bg-red-100 border-2 border-black rounded-lg p-0.5 mx-16 text-red-800">Annuler</button>
                            <a href="{{ path('app_deleteRaisonSociale', {raisonId: raison.id}) }}" class="bg-red-700 border-2 border-black rounded-lg p-1 mx-4 text-white whitespace-nowrap">Confirmer</a>
                        </div>
                    </td>
                    <td class="px-2 py-4">
                        <a class="text-blue-100 bg-[#140A82] p-2 rounded"
                            href="{{ path('app_clientsRaisonSociale',{raisonId : raison.id}) }}">Voir les expéditeurs
                            associés</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <div class="flex justify-center m-4">
        {% set multi10 = '1' %}
        {% set letterNb = -1 %}
        {% for i in range(1, nbRaisonsTotal|length) %}
            {% set multi10 = multi10 ~ 0 %}
            {% set letterNb = letterNb + 1 %}
        {% endfor %}
        {% set maxPages = (nbRaisonsTotal % 10) < 5 and (nbRaisonsTotal % 10) != 0 ? (nbRaisonsTotal / 10)|round + 1 : (nbRaisonsTotal / 10)|round %}
        {% if maxPages > 1 %}
            {% if currentPage != 1 %}
                <a href="{{ path('app_raisonSociale', {currentPage: 1}) }}" class="pt-3 text-white bg-[#140A82] rounded-lg px-2">1</a>
            {% endif %}
            <div class="bg-[#140A82]">{{ knp_pagination_render(raisonsSociales) }} </div>
            {% if currentPage != maxPages %}
                <a href="{{ path('app_raisonSociale', {currentPage: maxPages}) }}" class="pt-3 text-white bg-[#140A82] rounded-lg px-2">{{maxPages}} </a>
            {% endif %}
        {% endif %}
    </div>
    {{ raisonsSociales|length == 0 ? 'Aucune raisons sociales'}}
</main>
{% endblock %}