{% extends 'base.html.twig' %}

{% block title %}Raisons Sociales{% endblock %}

{% block body %}
<main class="w-[95%] m-auto">
    <h1 class=" mb-4 text-2xl font-semibold text-[#140A82]">Liste des raisons sociales</h1>
    <div class="flex justify-between items-center">
        <div></div>
        <div class="my-5">
            <a class="text-white bg-[#24A640] p-2 rounded" href="{{ path('app_addRaisonSociale') }}">Créer une raison sociale</a>
            <a class="text-white bg-[#F24E1E] p-2 rounded" href="{{ path('app_accueil') }}">Retour</a>
        </div>
    </div>
    <section class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 table-fixed">
            <thead class="text-xs text-white uppercase bg-[#140A82]">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th scope="col" class="px-2 py-3">
                        No. Expéditeurs associés
                    </th>
                    <th scope="col" class="px-3 py-3">
                        
                    </th>
                    <th scope="col" class="px-3 py-3">
                        
                    </th>
                    <th scope="col" class="px-3 py-3">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for raison in raisonsSociales %}
                <tr class="bg-white border-b ">
                    <td class="px-6 py-4">
                        {{ raison.raisonSociale }}
                    </td>
                    <td class="px-2 py-4 pl-20">
                        <b>{{ raison.expediteurs|length }}</b>
                    </td>
                    <td class="px-2 py-4">
                        <a class="text-blue-800 bg-blue-100 p-2 rounded"
                            href="{{ path('app_editRaisonSociale',{raisonId : raison.id}) }}">
                            Modifier
                        </a>
                    </td>
                    <td class="px-2 py-4">
                        <a class="text-white bg-[#F24E1E] p-2 rounded"
                            href="{{ path('app_deleteRaisonSociale',{raisonId : raison.id}) }}">Supprimer</a>
                    </td>
                    <td class="px-2 py-4">
                        <a class="text-blue-100 bg-[#140A82] p-2 rounded"
                            href="{{ path('app_clientsRaisonSociale',{raisonId : raison.id}) }}">Voir les expéditeurs
                            associés</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <div class="flex justify-center m-4">
        {% set multi10 = '1' %}
        {% set letterNb = -1 %}
        {% for i in range(1, nbRaisonsTotal|length) %}
            {% set multi10 = multi10 ~ 0 %}
            {% set letterNb = letterNb + 1 %}
        {% endfor %}
        {% set maxPages = nbRaisonsTotal <= 10 ? nbRaisonsTotal / 10 : ((nbRaisonsTotal % multi10)|slice(0, letterNb)) + 1 %}
        {% if maxPages > 1 %}
            <a href="http://localhost:8000/RaisonSociale/?page=1" class="pt-3 text-white bg-[#140A82] rounded-lg px-2">1</a>
            <p>{{ knp_pagination_render(raisonsSociales) }} </p>
            <a href={{"http://localhost:8000/RaisonSociale/?page=" ~ (maxPages)|trans}} class="pt-3 text-white bg-[#140A82] rounded-lg px-2">{{maxPages}} </a>
        {% endif %}
    </div>
    {{ raisonsSociales|length == 0 ? 'Aucune raisons sociales'}}
</main>
{% endblock %}