{% extends 'base.html.twig' %}

{% block javascript %}
{{ parent() }}
{% endblock %}

{% block title %}Administrateurs{% endblock %}

{% block body %}
<main data-controller="remove" class="w-[95%] m-auto">
    <h1 class=" mb-4 text-2xl font-semibold text-[#140A82]">Administrateurs</h1>
    <section class="flex justify-between items-center" style="padding-bottom:2%;">
        <div class="absolute right-0 mx-20">
            <a class="text-white bg-green-500 hover:bg-green-700 p-2 rounded whitespace-nowrap" href="{{ path('app_admin_add') }}">Ajouter gestionnaire</a>
            <a class="text-white bg-green-500 hover:bg-green-700 p-2 rounded whitespace-nowrap" href="{{ path('app_admin_add', {isMairie:true}) }}">Ajouter utilisateur Mairie</a>
            <a class="text-white bg-red-500 hover:bg-red-700 p-2 rounded whitespace-nowrap" href="{{ path('app_accueil') }}">Retour</a>
        </div>
    </section>
    <section class="overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 table-fixed">
            <thead class="text-xs text-white uppercase bg-[#140A82]">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Type admin
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Fonction
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        
                    </th>
                    <th scope="col" class="px-6 py-3">
                        
                    </th>
                    <th scope="col" class="px-6 py-3">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                {% set i = -1 %}
                {% for user in admins %}
                {% set role = 'ROLE_SUPERADMIN' in user.roles ? 'Administrateur' : ('ROLE_MAIRIE' in user.roles ? 'Mairie' : 'Gestionnaire') %}
                <tr class="bg-white border-b ">
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ role }}
                    </td>
                    <td scope="row" class="px-6 py-4">
                        {{ user.fonction | title }}
                    </td>
                    <td class="px-6 py-4 break-words">
                        {{ user.email }}
                    </td>
                    <td class="px-6 py-4">
                        {{ user.nom | title }}
                    </td>
                    <td class="px-6 py-4">
                        <a class="text-blue-800 bg-blue-100 p-2 rounded whitespace-nowrap"
                            href="{{ path('app_admin_edit', {id: user.id}) }}">
                            Modifier
                        </a>
                    </td>
                    <td class="px-6 py-4">
                        <a class="text-blue-800 bg-blue-100 p-2 rounded whitespace-nowrap"
                            href="{{ path('app_edit_password', {id: user.id}) }}">
                            Modifier le mot de passe
                        </a>
                    </td>
                    <td class="px-12 py-4">
                        {% if app.user.id != user.id %}
                            <button id="showButton" class="text-red-800 bg-red-100 p-2 rounded">Supprimer</button>
                            <div id="confirmBox" class="fixed -ml-32 bg-[#140A82] rounded-lg p-2">
                                <p class="text-white">Êtes-vous sûr de vouloir supprimer cet admin ? </p>
                                <button id="hideButton" class="bg-red-100 border-2 border-black rounded-lg p-0.5 mx-10 text-red-800">Annuler</button>
                                <a href="{{ path('app_admin_delete', {'id': user.id}) }}" class="bg-red-700 border-2 border-black rounded-lg p-1 mx-4 text-white whitespace-nowrap">Confirmer</a>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                {% set i = i + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </section>
    <div class="flex justify-center m-4">
        {% set multi10 = '1' %}
        {% set letterNb = -1 %}
        {% for i in range(1, nbAdminsTotal|length) %}
            {% set multi10 = multi10 ~ 0 %}
            {% set letterNb = letterNb + 1 %}
        {% endfor %}
        {% set maxPages = (nbAdminsTotal % 10) < 5 and (nbAdminsTotal % 10) != 0 ? (nbAdminsTotal / 10)|round + 1 : (nbAdminsTotal / 10)|round %}
        {% if maxPages > 1 %}
            {% if currentPage != 1 %}
                <a href="{{ path('app_admin', {currentPage: 1}) }}" class="pt-3 text-white bg-[#140A82] rounded-lg px-2 whitespace-nowrap">1</a>
            {% endif %}
            <div class="bg-[#140A82]">{{ knp_pagination_render(admins) }}</div>
            {% if currentPage != maxPages %}
                <a href="{{ path('app_admin', {currentPage: maxPages}) }}" class="pt-3 text-white bg-[#140A82] rounded-lg px-2 whitespace-nowrap">{{maxPages}} </a>
            {% endif %}
        {% endif %}
    </div>
</main>
{% endblock %}