{% extends 'base.html.twig' %}

{% block title %}Administrateurs{% endblock %}

{% block body %}
<main class="w-[90%] m-auto">
    <h1 style="font-size: 20pt;padding-bottom: 2%;"><b>Administrateurs</b></h1>
    <section class="flex justify-between items-center" style="padding-bottom:2%;">
        <div class="absolute right-0 mx-20">
            <a class="text-white bg-[#24A640] p-2 rounded" href="{{ path('app_admin_add') }}">Ajouter</a>
            <a class="text-white bg-[#F24E1E] p-2 rounded" href="{{ path('app_accueil') }}">Retour</a>
        </div>
    </section>
    <section class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 table-fixed">
            <thead class="text-xs text-white uppercase bg-[#140A82]">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Type admin
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Fonction
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nom
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Modifier
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Supprimer
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in admins %}
                {% set role = 'ROLE_SUPERADMIN' in user.roles ? 'Administrateur' : 'Gestionnaire' %}
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ role }}
                    </th>
                    <th scope="row" class="px-6 py-4">
                        {{ user.fonction }}
                    </th>
                    <td class="px-6 py-4">
                        {{ user.email }}
                    </td>
                    <td class="px-6 py-4">
                        {{ user.nom }}
                    </td>
                    <td class="px-6 py-4">
                        <a class="text-blue-800 bg-blue-100 p-2 rounded"
                            href="{{ path('app_admin_edit', {id: user.id}) }}">
                            Modifier
                        </a>
                    </td>
                    <td class="px-6 py-4">
                        {% if app.user.id != user.id %}
                            {{ include('admin/_delete_form.html.twig') }}
                        {% endif %}
                    </td>
                </tr>

                {# {{dump(admin)}} #}
                {% endfor %}
            </tbody>
        </table>
    </section>
    <div class="flex justify-center mt-4">
        {{ knp_pagination_render(admins) }}
    </div>
</main>
{% endblock %}